-r requirements.txt

# Type stubs
django-stubs==6.0.5
django-stubs-ext==6.0.5
types-PyYAML==6.0.12.20260518
typing_extensions==4.15.0

# Testing
pytest==9.1.1
pytest-django==4.12.0
pytest-watch==4.2.0
watchdog==6.0.0

# Misc
Pygments==2.20.0
colorama==0.4.6
